a {
    color: #16a085;
    font-size: 18px;
    margin: 0 10px;
}

button {
    background: #16a085;
    color: white;
    font-size: 16px;
}

.font-size {
    font-size: 18px;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.img {
    width: 100%;
}

.footer {
    width: 1200px;
    margin: 0 auto;
}

.content {
    text-align: right;
    margin-top: 60px;
}

.style {
    background: #f5f6f7;
    text-align: center;
}

.links {
    color: #16a085;
    font-size: 18px;
    margin: 0 10px;
}
